.item-carta {
  width: 450px;
  
}

@media only screen and (max-width: 600px) {
  .item-carta {
    width: auto;
    aspect-ratio: auto;
  }

}

.carta-item {
  background-color: transparent !important;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.9), rgb(0, 0, 0, 1)) !important;
}

