---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header";
import Carta from "../components/Carta";
import Footer from "../components/Footer";
import DondeEstamos from "../components/DondeEstamos";
import SwiperCarousel from "../components/SwiperCarousel";
import Servicios from "../components/Servicios";
---

<Layout title="Pizzería Junkal - Irun">
  <Header client:idle />

  <main class="">
    <SwiperCarousel client:idle/>
	  <Carta />
    <Servicios client:idle/>
    <DondeEstamos />
  </main>
  <Footer />
</Layout>

<style>
  :global(html) {
    /* ...TRUNCATED */

    color: hsl(
      var(--colour-text-hue) var(--colour-text-saturation)
        var(--colour-text-luminance)
    );

    scroll-behavior: smooth;
  }
  @media (prefers-reduced-motion: reduce) {
    :global(html) {
      scroll-behavior: auto;
    }
  }
</style>
