header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Cambia el color de fondo según tus preferencias */
  z-index: 999;
  transition: opacity 0.5s ease; /* Añade una transición suave al cambiar la opacidad */
}

header.scrolled {
  background-color: rgb(180, 180, 180, 1);
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 0 10px;
  color: black;
  transition: all 1.8s ease-in-out;
}

.icon:hover {
  color: #0077b5;
}
