.swiper-button-next {
  display: none !important;
}

.swiper-button-prev {
  display: none !important;
}

.swiper-pagination-bullet-active {
  background: darkorange !important;
}

.swiper {
  height: 700px;
}

@media only screen and (max-width: 600px) {
  .swiper {
    height: (100vh - 20vh);
  }
}
