

.swiper-button-next {
  display: none !important;
}

.swiper-button-prev {
  display: none !important;
}

.swiper-pagination-bullet-active {
  background: darkorange !important;
}

.swiper-photos {
  height: 700px;
}

@media only screen and (max-width: 600px) {
  .swiper-photos {
    height: 600px;
  }
}


.swiper-box {
  background-color: transparent;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgb(0, 0, 0, 0));
}